language: node_js
node_js:
  - "10"
  - "8"
  - "6"
notifications:
  email: false
sudo: false
addons:
  apt:
    packages:
    - expect
before_install:
  - npm install -g npm@latest
before_script:
  - npm prune
  - bin/e2e-test.sh
after_success:
  - npm run coverage
branches:
  except:
    - /^v\d+\.\d+\.\d+$/
deploy:
  provider: script
  skip_cleanup: true
  script:
    - npx travis-deploy-once "npx semantic-release"
