; Botforge systemd service unit file
; Place in e.g. `/etc/systemd/system/botforge.service`, then `systemctl daemon-reload` and `service botforge start`.

[Unit]
Description=Botforge
Requires=network.target
After=network.target

[Service]
Type=simple
WorkingDirectory=/path/to/botforge
User=change-to-botforge-user

Restart=always
RestartSec=10

; Configure Botforge environment variables, use quotes around vars with whitespace as shown below.
Environment="BOTFORGE_aaa=xxx"
Environment="BOTFORGE_bbb='yyy yyy'"

; Alternatively multiple environment variables can loaded from an external file
;EnvironmentFile=/etc/botforge-environment

ExecStart=/path/to/botforge/bin/botforge --adapter zzz

[Install]
WantedBy=multi-user.target
